In [1]:
print("hii")

hii

In [3]:
s= [1,12,13,15]
var= pd.Series(s)
print(var)

0     1
1    12
2    13
3    15
dtype: int64

In [4]:
print(var[0])

1

In [5]:
print(var[2])

13

In [6]:
a=[11,22,33,44]
var=pd.Series(a,index=["a","b","c","d"])
print(var)

a    11
b    22
c    33
d    44
dtype: int64

In [8]:
print(var["c"])

33

In [12]:
marks={"math":100, "science":200, "geography":300, "marathi":400, "history":250, "english":130}
var=pd.Series(marks)
print(var)

math         100
science      200
geography    300
marathi      400
history      250
english      130
dtype: int64

In [13]:
#calculate avg value
avg=var.mean()
print(f"Average marks is {avg}")

Average marks is 230.0

In [14]:
#calculate  total marks
sum= var.sum()
print(f"Total Marks Are: {sum}")

Total Marks Are: 1380

In [15]:
#calculate median of marks
median= var.median()
print(f"Median of marks is {median}")

Median of marks is 225.0

In [17]:
path="C:\Sample_python\sample_marks.csv"
data=pd.read_csv(path)
print(data)

     Subject  Marks
0       Math     95
1    Science     88
2  Geography     76
3    History     89
4    English     92

In [19]:
# Perform some basic operations
mean_marks = data["Marks"].mean()
sum_marks = data["Marks"].sum()
median_marks = data["Marks"].median()
max_marks = data["Marks"].max()
min_marks = data["Marks"].min()

In [20]:
# Display results of operations
print("\nBasic Operations:")
print(f"Mean Marks: {mean_marks}")
print(f"Sum of Marks: {sum_marks}")
print(f"Median Marks: {median_marks}")
print(f"Maximum Marks: {max_marks}")
print(f"Minimum Marks: {min_marks}")

Basic Operations:
Mean Marks: 88.0
Sum of Marks: 440
Median Marks: 89.0
Maximum Marks: 95
Minimum Marks: 76

In [25]:
print(data.loc[2])

Subject    Geography
Marks             76
Name: 2, dtype: object

In [26]:
print(data.loc[[0,1]])

   Subject  Marks
0     Math     95
1  Science     88